[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/carminevassallo
[access "refs/for/refs/*"]
	read = group user/carminevassallo
	push = group user/carminevassallo
	label-Code-Review = -2..+2 group user/carminevassallo
	label-Verified = -1..+1 group user/carminevassallo
	rebase = group user/carminevassallo
	removeReviewer = group user/carminevassallo
	submit = group user/carminevassallo
[access "refs/heads/*"]
	read = group user/carminevassallo
	create = group user/carminevassallo
	push = +force group user/carminevassallo
	pushMerge = group user/carminevassallo
[access "refs/tags/*"]
	push = group user/carminevassallo
	push = +force group user/carminevassallo
